{% extends 'base.html.twig' %}

{% block title %}Détails du Voyage - {{ voyage.titre }}{% endblock %}

{% block body %}
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Détails du voyage: {{ voyage.titre }}</h3>
                        <div class="card-actions">
                            <a href="{{ path('app_voyage_edit', {'id': voyage.id}) }}" class="btn btn-primary">
                                <i class="fas fa-edit me-2"></i> Modifier
                            </a>
                            <a href="{{ path('app_voyage_index') }}" class="btn btn-secondary">
                                <i class="fas fa-arrow-left me-2"></i> Retour à la liste
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Informations générales</h4>
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Date du voyage</th>
                                        <td>{{ voyage.dateVoyage|date('d/m/Y') }}</td>
                                    </tr>
                                    <tr>
                                        <th>Titre</th>
                                        <td>{{ voyage.titre }}</td>
                                    </tr>
                                    <tr>
                                        <th>Affectation</th>
                                        <td>{{ voyage.affectation }}</td>
                                    </tr>
                                    <tr>
                                        <th>Type de chargement</th>
                                        <td>{{ voyage.typeChargement.libelle }}</td>
                                    </tr>
                                    <tr>
                                        <th>Quantité de carburant (L)</th>
                                        <td>{{ voyage.quantiteCarburant }}</td>
                                    </tr>
                                    <tr>
                                        <th>Quantité de chargement (kg)</th>
                                        <td>{{ voyage.quantiteChargement }}</td>
                                    </tr>
                                    <tr>
                                        <th>Convoyeur</th>
                                        <td>{{ voyage.convoyeur }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                <h4>Kilométrage et Dates</h4>
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Km Départ</th>
                                        <td>{{ voyage.kmDepart }}</td>
                                    </tr>
                                    <tr>
                                        <th>Km Arrivée</th>
                                        <td>{{ voyage.kmArrivee }}</td>
                                    </tr>
                                    <tr>
                                        <th>Date Prévue</th>
                                        <td>{{ voyage.datePrevueVoyage ? voyage.datePrevueVoyage|date('d/m/Y') : 'N/A' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Heure Départ</th>
                                        <td>{{ voyage.heureDepart ? voyage.heureDepart|date('H:i') : 'N/A' }}</td>
                                    </tr>
                                    <tr>
                                        <th>Heure Arrivée</th>
                                        <td>{{ voyage.heureArrivee ? voyage.heureArrivee|date('H:i') : 'N/A' }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                        <div class="row mt-4">
                            <div class="col-12">
                                <h4>Trajets</h4>
                                {% if voyage.voyageVehicules|length > 0 %}
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Destination</th>
                                                    <th>Commentaire</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for trajet in voyage.voyageVehicules %}
                                                    <tr>
                                                        <td>{{ trajet.destination.libelle }}</td>
                                                        <td>{{ trajet.commentaire }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    <p class="text-muted">Aucun trajet enregistré pour ce voyage.</p>
                                {% endif %}
                            </div>
                        </div>
                        
                        {% if voyage.commentaire %}
                        <div class="row mt-4">
                            <div class="col-12">
                                <h4>Commentaire</h4>
                                <div class="border rounded p-3">
                                    {{ voyage.commentaire }}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}