{% extends 'base.html.twig' %}

{% block title %}Détails de la Destination - {{ destination_voyage.libelle }}{% endblock %}

{% block body %}
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Détails de la destination: {{ destination_voyage.libelle }}</h3>
                        <div class="card-actions">
                            <a href="{{ path('app_destination_voyage_edit', {'id': destination_voyage.id}) }}"
                                class="btn btn-warning">
                                <i class="fas fa-edit me-2"></i> Modifier
                            </a>
                            <a href="{{ path('app_destination_voyage_index') }}" class="btn btn-secondary">
                                <i class="fas fa-arrow-left me-2"></i> Retour à la liste
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Lieu de départ</th>
                                        <td>{{ destination_voyage.lieuDepart }}</td>
                                    </tr>
                                    <tr>
                                        <th>Lieu d'arrivée</th>
                                        <td>{{ destination_voyage.lieuArrivee }}</td>
                                    </tr>
                                    <tr>
                                        <th>Libellé</th>
                                        <td>{{ destination_voyage.libelle }}</td>
                                    </tr>
                                    <tr>
                                        <th>Distance</th>
                                        <td>{{ destination_voyage.distance }} km</td>
                                    </tr>
                                    <tr>
                                        <th>Région</th>
                                        <td><a
                                                href="{{ path('app_region_show', {'id': destination_voyage.region.id}) }}">
                                                {{ destination_voyage.region.nom }}
                                            </a></td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        {% if destination_voyage.voyageVehicules|length > 0 %}
                        <div class="row mt-4">
                            <div class="col-12">
                                <h4>Voyages associés</h4>
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Date du voyage</th>
                                                <th>Titre du voyage</th>
                                                <th>Convoyeur</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for voyageVehicule in destination_voyage.voyageVehicules %}
                                            <tr>
                                                <td>{{ voyageVehicule.voyage.dateVoyage|date('d/m/Y') }}</td>
                                                <td><a
                                                        href="{{ path('app_voyage_show', {'id': voyageVehicule.voyage.id}) }}">
                                                        {{ voyageVehicule.voyage.titre }}
                                                    </a></td>
                                                <td>{{ voyageVehicule.voyage.convoyeur }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}